.box {
    width: 300px;
    height: 150px;
    border: 1px solid red;
    margin: 60px;
}

.visitable {
    overflow: visitable;
    color: green;
}

.hidden {
    overflow: hidden;
}

.scroll {
    overflow: scroll;
}

.auto {
    overflow: auto;
}